.App {
    background: black;
    border-radius: 5%;
    color: white;
    height: 918px;
    padding: 30px;
    position: relative;
    width: 563px;
    left: 30%;
}

.display {
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}